<div class="user-profile">

  <div class="profile-header-border">
    <div class="profile-header">
      <h1><%= @profile_user.username %></h1>

      <span class="profile-timestamp">Member since: <%= @profile_user.created_at.strftime('%e %b %Y %I:%M%p') %></span>

      <%= show_follow(@profile_user) %>

    </div>
  </div>

  <%= image_tag 'smiley.png' %>

  <div class="profile-description"><%= @profile_user.description %></div>


</div>

<div class="profile-starts-display">
  <div class="profile-tab">Showing: Created Stories</div><div class="profile-tab" id="contribution-tab">Contributions</div>

  <%= render @profile_user.starts %>
</div>

<div class="profile-additions-display">
  <div class="profile-tab">Showing: Contributions </div><div class="profile-tab" id="create-tab">Created Stories</div>

  <%= render @profile_user.addition_starts %>
</div>