<div class="story-blurb">

  <div class="blurb-functional">
    <p>Last updated: <%= start.updated_at.strftime('%e %b %Y %I:%M%p') %></p>

    <p class="story-blurb-username">By: <%= start.user.username %></p>

    <p>Created at: <%= start.created_at.strftime('%e %b %Y %I:%M%p') %></p>

    <p>Additions: <%= start.additions.count %></p>

    <p>Status: <%= start.completed ? 'Complete' : 'Ongoing' %></p>

  </div>
  <div id="/starts/<%= start.id.to_s %>" class="blurb-story">

    <h1 class="story-blurb-title"><%= start.title %></h1>

    <p><%= start.story_text %></p>

    <div class="closed-story-blurb">
      <% start.additions.each do |addition| %>
        <p><%= addition.addition_text %></p>
      <% end %>
    </div>

    <div class="addition-form">
      <p class="flash"></p>
      <%= form_for @addition, url: "/starts/#{start.id}/additions" do |f| %>
        <%= f.label 'Write your addition here!' %>
        <%= f.text_area :addition_text, class: 'textfield textarea addition-text' %>

        <p>Remaining characters: <span id="remaining-characters">140</span></p>

        <%= f.submit 'Create Addition', class: 'addition-button button' %>
      <% end %>

    </div>

  </div>
</div>