<div class="centered-form">

  <h1 class="centered-title">Create a new Story Start!</h1>

  <p>Here you can write the start of story that is sure to become a masterpiece. Begin with a hundred and forty
    characters, and then you and other users can add on!</p>

  <p>Not sure what to write? Here's a prompt:

     <span class="highlight-text" id="prompt-target">
       <%= Bazaar.item%>
       <%= Bazaar.super_adj %>
       <%= Bazaar.super_item%>
     </span>
    ! Click <span class="highlight-text" id="prompt-generator">here</span> for a new one.</p>

  <div class="form-div">
    <%= form_for @start, html: {class: 'new-story-form'} do |f| %>
      <div>
        <%= f.label :title, class: 'side-label' %>
        <span class='error-message'><%= @start.errors['title'].first %></span>
        <%= f.text_field :title, class: 'textfield', autofocus: true %>
      </div>
      <div>
        <%= f.label :story_text, class: 'side-label' %>
        <span class='error-message'><%= @start.errors['story_text'].first %></span>
        <%= f.text_area :story_text, class: 'textfield textarea' %>
        <p>Remaining characters: <span id='remaining-characters'>140</span></p>
      </div>
      <div>
        <%= f.submit 'Create Story', class: 'button', disabled: 'disabled' %>
      </div>
    <% end %>
  </div>
</div>