<div class="row">
  <div class="sample left"><%= @sample_text %></div>
  <div class="focus"><h1>Welcome to <span class="highlight-text">TellTales!</span></h1>
    <p class="intro-text">TellTales allows you to create and add to other user's stories--150 characters at a time. Join now and start building your story!</p>
  </div>
  <div class="sample right"><%= @sample_text %></div>
</div>

<div class="row">
  <div class="sample left"><%= @sample_text %></div>

  <div class="register-block">
    <p><span class="highlight-text login">Login</span>

      or

    <span>Register</span> below: </p>

    <%= form_for @user, url: '/login/new', html: {id: "register-form"} do |f| %>
      <%= f.label :username %>
      <br>
      <%= f.text_field :username, class: "textfield" %>
      <br>
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, class: "textfield" %>
      <br>
      <%= f.label :password %>
      <br>
      <%= f.text_field :password, class: "textfield" %>
      <br>
      <%= f.label :"confirm password" %>
      <br>
      <%= f.text_field :password_confirmation, class: "textfield" %>
      <br>

      <%= f.submit "Login", class: 'button' %>

    <% end %>

  </div>

  <div class="focus login-block">
    <p><span class="highlight-text register">Register</span>

      or

      <span>Login</span> below:</p>

    <%= form_for @user, url: 'login', html: {id: 'login-form'} do |f| %>
      <%= f.label :username %>
      <br>
      <%= f.text_field :username, class: "textfield" %>
      <br>
      <%= f.label :password %>
      <br>
      <%= f.text_field :password, class: "textfield" %>
      <br>
      <%= f.submit "Login", class: 'button' %>

    <% end %>
  </div>
  <div class="sample right"><%= @sample_text %></div>
</div>
<div class="row">
  <div class="sample left"><%= @sample_text %></div>
  <div class="sample square"><%= @sample_text %></div>
  <div class="sample right"><%= @sample_text %></div>
</div>