<!DOCTYPE html>
<html>
<head>
  <title>Telltales</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/header', locals: {user: @user} %>

<div class="wrapper">
  <% if flash[:notice] %>
    <p class='flash'><%= flash[:notice] %></p>
  <% end %>
  <%= yield %>
</div>

<div class="footer">
  <%= link_to image_tag('twitter.gif', class: 'icon'), 'https://twitter.com/Savannahdworth' %>

  Website by <span class="highlight-text">Savannah Worth</span>
</div>

</body>
</html>
